@font-face {
  font-family: MineSweeper;
  src: url(mine-sweeper.ttf);
}

:root {
  --pop-background: orange;
  --selected-gradient-top: black;
  --selected-gradient-bottom: orange;
  --booked-gradient-top: black;
  --booked-gradient-bottom: red;
  --bookedHover-gradient-top: black;
  --bookedHover-gradient-bottom: black;
}

body {
  min-height: calc(100vh - table);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

table {
  /* border-collapse: separate; */
  border-spacing: 0px;
  /* border: 1px solid black; */
  /* width: 50%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

td {
  /* border: 0.5px solid black; */
  /* width: 50px;
  height: 50px; */
  /* box-shadow: 1px 1px 2px 0px #000000; */
}

.cell {
  width: 14px;
  height: 14px;
  /* background-color: #c6c6c6; */
  text-align: center;
  font-size: 10px;
  font-family: MineSweeper;
  background-image: url("../img/tile.png");
  background-repeat: no-repeat;
  /* border: 1px solid gray; */
}

.clicked {
  /* background-color: #c6c6c6; */
  /* background-image: none;
   */
  background-color: #c6c6c6;
  background-image: none;
}

.board-container {
  margin: auto;
}

.mine {
  background: linear-gradient(
    to top,
    var(--booked-gradient-top),
    var(--booked-gradient-bottom)
  );
}

.hide {
  visibility: hidden;
}

footer {
  /* position: relative; */
  text-align: center;
  width: 31vw;
  bottom: 0px;
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 10px;
}

.game-header {
  /* display: flex; */
  justify-content: space-around;
  font-size: 0.7em;
  font-family: MineSweeper;
  margin-bottom: 10px;
  margin: auto;
}

.game-state {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 20px;
}

.game-state:hover {
  cursor: pointer;
}

.game-state:active {
  cursor: default;
}

.game-levels {
  margin: auto;
}

.game-levels button {
  text-align: center;
  font-size: 0.3em;
  border-radius: none;
  border: 1px solid black;
  background-color: #c6c6c6;
}

.lives {
  margin: auto;
  margin-top: 5px;
}

.hints {
  margin-bottom: 10px;
  margin: auto;
}

.highlight-hint {
  background-color: yellow;
}
