@font-face {
  font-family: MineSweeper;
  src: url(mine-sweeper.ttf);
}
@font-face {
  font-family: LedTimer;
  src: url(ledtimer.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --cell-size: 26px;
  --timer-width: 104px;
}

.game-container {
  width: auto;
  max-width: 50vw;
  height: auto;
  display: flex;
  background: linear-gradient(to right, #ffffff 0%, #7bb0b1 0%, #c251c2 100%);
  flex-direction: column;
  margin: auto;
  margin-top: 5vh;
  border-radius: 10px;
  border: 1px solid gray;
  overflow-y: auto;
  box-shadow: 5px 5px 16px 2px #bbbbbb;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
}

.game-container-dark-mode {
  width: auto;
  max-width: 50vw;
  height: auto;
  display: flex;
  background: linear-gradient(to right, #000000 0%, #073e3f 0%, #441044 100%);
  flex-direction: column;
  margin: auto;
  margin-top: 5vh;
  border-radius: 10px;
  border: 1px solid gray;
  overflow-y: auto;
  box-shadow: 5px 5px 16px 2px #bbbbbb;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: lightskyblue !important;
}

table {
  border-spacing: 0px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  text-align: center;
  font-size: 14px;
  font-family: MineSweeper;
  background-image: url("../img/tile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.clicked {
  background-color: #c6c6c6;
  background-image: none;
}

.board-container {
  margin: 0 auto 0 auto;
}

.mine {
  background: linear-gradient(
    to top,
    var(--booked-gradient-top),
    var(--booked-gradient-bottom)
  );
}

.hide {
  visibility: hidden;
}

.game-header {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  /* margin-bottom: 10px; */
  margin: 0 auto 7px auto;
}

.game-state {
  font-size: 1.5em;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.game-state:hover {
  cursor: pointer;
}

.game-state:active {
  cursor: default;
}

.game-levels {
  margin: 0 auto 7px auto;
}

.game-levels button {
  text-align: center;
  font-family: MineSweeper;
  /* display: block; */
  font-size: 0.5em;
  background-color: rgb(178, 231, 248);
  transition: 0.2s ease-in-out;
  border-radius: 2px;
  height: 3em;
}

.lives {
  margin: 0 auto 7px auto;
  font-size: 2em;
}

.hints {
  font-size: 2em;
  /* margin-bottom: 10px; */
  margin: 0 auto 7px auto;
  display: block;
}

.highlight-hint {
  background-color: yellow;
}

.timer,
.bombs-left {
  font-family: LedTimer;
  font-size: 2em;
}

.timer {
  padding-left: 10px;
}
.bombs-left {
  min-width: calc(var(--timer-width));
  text-align: center;
}
.highscore {
  /* padding-top: 5px; */
  font-family: MineSweeper;
  font-size: 1em;
  margin: 0 auto 7px auto;
  /* margin-bottom: 0px; */
}

.safe-click button {
  margin: 0 auto 7px auto;
  margin: auto;
  font-family: MineSweeper;
  display: block;
  font-size: 1em;
  background-color: rgb(178, 231, 248);
  transition: 0.2s ease-in-out;
  border-radius: 2px;
}

.exterminator {
  font-family: MineSweeper;
  display: block;
  text-align: center;
  padding: 0px;
  font-size: 1.5em;
  background-color: rgb(53, 183, 41);
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.mega-hint {
  margin: 7px auto 7px auto;
  font-family: MineSweeper;
  display: block;
  font-size: 1em;
  background-color: rgb(185, 0, 0);
  transition: 0.2s ease-in-out;
  border-radius: 2px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 50%; /* Center the footer horizontally */
  transform: translateX(-50%); /* Center the footer horizontally */
  width: 50vw;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-family: MineSweeper;
  font-size: 1em;
  text-align: center;
}

.build-mode button {
  font-family: MineSweeper;
  display: block;
  text-align: center;
  padding: 0px;
  font-size: 1.5em;
  background-color: rgb(255, 160, 17);
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.build-mode button:hover,
.exterminator:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.active {
  cursor: cell;
}

.undo {
  margin: 10px auto auto auto;
  font-family: MineSweeper;
  display: block;
  font-size: 1em;
  background-color: rgb(185, 0, 0);
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}

.undo:hover,
.safe-click button:hover,
.game-levels button:hover,
.mega-hint:hover {
  color: whitesmoke;
}

.modes-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ///////////////////////// */
/*//////// DARK MODE ///////*/
/* //////////////////////// */
.toggle {
  --size: 1.225rem;
  --width: calc(1.225rem * 2);
  display: inline-grid;
  align-items: center;
  width: var(--width);
  height: var(--size);
  cursor: pointer;
  /* position: absolute; */
  top: 10px;
  right: 10px;
}

.toggle::before {
  content: "🌞🌙";
  font-size: 0.89rem;
  grid-area: 1 / -1;
  padding: 1px;
  width: var(--width);
  height: var(--size);
  transition: all 250ms ease;
  border-radius: var(--width);
  background-color: #000;
}

.toggle:hover::before {
  box-shadow: 0 0 0 2px #aef;
}

.toggle::after {
  content: "";
  grid-area: 1 / -1;
  width: calc(var(--size) * 0.9);
  height: calc(var(--size) * 0.9);
  transform: translateX(10%);
  transform-origin: center center;
  transition: all 250ms ease;
  border-radius: 100%;
  background: #fff;
}

.toggle:checked::before {
  background-color: #2be;
}

.toggle:checked::after {
  transform: translateX(calc(var(--width) - var(--size) * 0.9));
}

.toggle:disabled {
  pointer-events: none;
  filter: grayscale(1);
}

.toggle:disabled::before {
  background: #2be;
}

/* /////////////////////// */
